
<!DOCTYPE html>
<html>
<head>
<title>How to Cope with Anxiety</title>
<link rel="stylesheet" href="style.css">
</head>
<body>

<h1>How to Cope with Anxiety</h1>

<div class="container">
<div class="row">
<div class="col-sm-8">
<p>Anxiety is a common mental health condition that can cause feelings of worry, nervousness, and fear. It can be triggered by a variety of factors, including stress, life events, and genetics.</p>
<p>There are many ways to cope with anxiety, including:</p>
<ul>
<li>Talking to a therapist or counselor</li>
<li>Taking medication</li>
<li>Practicing relaxation techniques</li>
<li>Getting regular exercise</li>
<li>Eating a healthy diet</li>
</ul>
</div>
<div class="col-sm-4">
<h2>Related Articles</h2>
<ul>
<li><a href="/articles/how-to-manage-stress">How to Manage Stress</a></li>
</ul>
</div>
</div>
</div>

</body>
</html>

