
<!DOCTYPE html>
<html>
<head>
<title>Dashboard</title>
<link rel="stylesheet" href="style.css">
</head>
<body>

<h1>Dashboard</h1>

<div class="container">
<div class="row">
<div class="col-sm-4">
<h2>Upcoming Therapy Sessions</h2>
<ul>
<li>Session 1: Monday, January 16th at 10:00am</li>
</ul>
</div>
<div class="col-sm-4">
<h2>Support Groups</h2>
<ul>
<li>Anxiety Support Group: Tuesdays at 7:00pm</li>
</ul>
</div>
<div class="col-sm-4">
<h2>Resources</h2>
<ul>
<li><a href="/articles/how-to-cope-with-anxiety">How to Cope with Anxiety</a></li>
</ul>
</div>
</div>
</div>

</body>
</html>


